html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Pretendard, 'Pretendard', 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  color: #030712;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mission-1.hide {
  opacity: 0;
  transform: translateY(-300px);
}
